<html>
    <body>
        <section id="somos-proya">
            <div class="container">
                <div class="img-container">
                    <video src="../../../assets/entrevista.mp4" autoplay="false" load="true"></video>
                </div>
                <div class="texto">
                    <h2>El inicio de todo</h2>
                    <p>
                        El proyecto comenzó hace más de 5 años, fue desarrollado por Jorge Benegas, Rodrigo Núñez y Octavio
                        Arias.
                        <br>
                        El proyecto inició gracias a un viaje de músicos andinos (El Inti Raimi) que hicieron Jorge Benegas
                        y
                        Rodrigo Núnez, en el cual se encontraron por primera vez la presentación de una orquesta folklórica
                        (Sonoridad Andina, la orquesta de Viedma).
                        <br>
                        Paso el tiempo y se unio Octavio Arias, que pertenecip a la orquesta Musicantes de San Martin,
                        actualmente
                        es coordinador de Amulen, ahora son parte de las orquestas folkloricas de Rio Negro.
                    </p>
                </div>
            </div>
        </section>
    </body>
</html>