<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<header>
    <section class="textos-header">
        <div class="frame">
            <a href="contacto">
                <button class="custom-btn btn-7"><span>Uníte a nosotros</span></button>
            </a>
        </div>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C223.75,175.17 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;">
            </path>
        </svg>
    </div>
</header>
<main>
    <section>
        <br>
    </section>
    <section class="content about">
        <h2 class="title">Nosotros</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae tempora vitae, 
            nisi iusto quae voluptatibus, officia dicta a rem ipsum quas quis 
            adipisci necessitatibus corrupti mollitia suscipit, cupiditate nemo aut.
        </p>
        <a href="historia">
            <button pButton pRipple type="button" label="Warning" class="p-button-rounded p-button-warning"></button>
        </a>
    </section>
    <h3>clases</h3>
    <section class="body">
       
            <div class="container">
                <figure>
                    <img src="../../../assets/artistry-removebg-preview.png" alt="" class="img1">
                    <div class="capa">
                        <h1>Artristy</h1>
                        <p>Es una de las 10 marcas premium del cuidado de la piel de mayor venta a nivel mundial y tiene más de 250 patentes.</p>
                    </div>
                </figure>
            </div>
            <div class="container">
                <figure>
                    <img src="../../../assets/amwayhome-removebg-preview.png" alt="" class="img1">
                    <div class="capa">
                        <h1>Amway Home</h1>
                        <p>Al usar sus productos constribuye a disminuye la conaminación y el deterioro de nuestro planeta.</p>
                    </div>
                </figure>
            </div>
            <div class="container">
                <figure>
                    <img src="../../../assets/nutrilite-removebg-preview.png" alt="" class="img1">
                    <div class="capa">
                        <h1>Nutrilite</h1>
                        <p>Es número uno a nivel mundial en vitaminas y suplementos dietarios, posee sus propias granjas certificadas y organicas.</p>
                    </div>
                </figure>
            </div>
        
    </section>
</main>