<div class="navbar" style="color: black;">
    <a href="inicio">
        <img src="../../../assets/logo_de_color-removebg-preview.png" alt="logo" class="logo">
    </a>
    <ul>
        <li><a href="inicio"><i class="pi pi-home" style="font-size: 1rem"></i>&nbsp;Inicio</a></li>
        <li><a href="historia"><i class="pi pi-book" style="font-size: 1rem"></i>&nbsp;Historia</a></li>
        <li><a href="eventos"><i class="pi pi-star" style="font-size: 1rem"></i>&nbsp;Eventos</a></li>
        <li><a href="clases"><i class="pi pi-users" style="font-size: 1rem"></i>&nbsp;Clases</a></li>
        <li><a href="contacto"><i class="pi pi-user" style="font-size: 1rem"></i>&nbsp;Contacto</a></li>
    </ul>
</div>