<footer>
    <img src="../../../assets/logo_de_color-removebg-preview.png" class="logo">
    <h3>Seguinos en:</h3>
    <div class="social-icons-container">
        <a href="https://www.facebook.com/orquestafolkloricaamulen/about" class="social-icons">
            <i class="pi pi-facebook" style="font-size: 2rem; color:#3b5998;"></i>
        </a>
        <a href="https://www.instagram.com/orqamulen/tagged/?hl=es" class="social-icons">
            <i class="pi pi-instagram"  style="font-size: 2rem; color:#cb125b;"></i>
        </a>
    </div>
    <h3>Link de guías</h3>
    <ul class="footer-menu-container">
        <li class="menu-item"><a href="inicio">Inicio</a></li>
        <li class="menu-item"><a href="historia">Historia</a></li>
        <li class="menu-item"><a href="eventos">Eventos</a></li>
        <li class="menu-item"><a href="contacto">Contacto</a></li>
        <li class="menu-item"><a href="clases">Clases</a></li>
    </ul>
</footer>